.Ill_title {
    font-family: 'Roboto', sans-serif;
    margin: 200px 250px 0 250px;
    font-size: larger;
}
.Ill_text {
    font-family: 'Roboto', sans-serif;
    margin: 100px 300px 100px 300px;
    line-height: 2;
}
.poster-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers posters horizontally */
    gap: 20px; /* Adds spacing between posters */
    width: 100%;
    max-width: 600px; /* Adjust max width */
    margin: 0 auto; /* Centers container */
}
.poster-container img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.Land {
    margin-bottom: 40px;
}
@media (max-width: 1000px) {
    .Ill_title {
        margin-right: 50px;
        margin-left: 50px;
   }
    .Ill_text {
         margin-right: 50px;
         margin-left: 50px;
    }
}